$primary: #f3e9e2;
$secondary: #454b66;
$accent: #d81159;

$dark: 000000;

$white: #ddd5d0;
$light-blue: #0090c1;
$dark-blue: #454b66;

// COLORS (https://coolors.co/ddd5d0-0090c1-f84aa7-454b66-000000)
// DDD5D0 white (lightest color)
// 0090C1 light blue
// D81159 like button
// 454B66 dark color
// 000000 black
